@model PROG7313_Agri_Energy_Connect_ST10040092.Models.Products
@{
    ViewData["Title"] = "Delete Product";
}

<h2>Delete Product</h2>

<div class="card p-4 shadow-sm">
    <h5>Are you sure you want to delete this product?</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">@Model.Type</dd>

        <dt class="col-sm-3">Production Date</dt>
        <dd class="col-sm-9">@Model.ProductionDate.ToShortDateString()</dd>

        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <dt class="col-sm-3">Image</dt>
            <dd class="col-sm-9">
                <img src="@Model.ImagePath" class="img-thumbnail" style="max-height: 200px;" />
            </dd>
        }
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>
